# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
idlrw-env/
*.swp

# VSCode
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# Logs
*.log

# Data
data/
preprocessed/
IDLRW-DATASET.zip